@media screen and (max-width:747px)
{
  h1{
  text-transform:uppercase;
  color:white;
  font-size:2.3rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: .35rem;
  }

  p br,
  h2 br{
    content: " ";
    display: none;
  }
  .btn{
    padding: 1.2rem 3rem;
    margin-bottom: 0;
  }
  #ftr{
    margin-bottom: .3rem;
  }
  #btntop{
    padding:.15rem;
  }
#main{ 
  display:flex;
   flex-direction:column;
}
#maintext{
margin:0;
}
  #mainbtn{
    display: grid;
    grid-template-columns: 1fr;
    margin:0; 
    }
  /* nav a{
    display: none;
  } */
  #exchange{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
  }
 .exchange-names ul{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 1rem;
   
  }
  .exchange-names li img {
    width: 100px;
  }
  #buy h2{
margin-bottom: .6rem;
  }
#buytext{
margin-left:.5rem;
}
  #howtobuy{
    display:grid;
    grid-template-columns: 1fr;

  }

  iframe{
    width: 100%;
    margin:auto;
  }
  #con{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    margin-top: 3rem;
  }
  .con{
  color: #fff;
  padding: .3rem;
  display: block;
  border: none;
  width: 100%;
  border-radius: .5rem;
  background-color: #295AF2;
  margin-bottom: .8rem;
  }
  
  .copy-button {
    cursor: pointer;
    border: none;
    background-color: #295AF2;
    color: #fff;
    display: block;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
  }
  #tokn{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:repeat(2, 1fr);  
margin:0;
text-content:center;
}
#tokn h2{
  font-size: 1rem;
}
#tokn p.large{
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #b4b4b4;
 
}
h3.large{
  font-size: 2.15rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom:0;
}
.roadlist{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; 
}
#plane{
  margin: 1.7rem auto;
}
.small{
  font-size: .8rem;
  text-align: center;
  margin:2rem auto;
}
#community h2{
 text-align: center;
  font-weight: 900;
  line-height: 1;
  font-size: 2rem;
}
#home,
#community{
  background-size: cover;
  background-position: 100%;
}
}
